@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: .8fr 2fr;
    width: 50rem;
    border: .1rem solid #000;
    cursor: default;
    margin: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 1rem 3rem;
}

.container #left-resume {
    position: relative;
    background-color: #333;
}

.container #left-resume img {
    display: block;
    width: 12rem;
    border-radius: 50%;
    margin: 2rem auto;
}

.container #left-resume .title {
    margin: 1.5rem 0 0 2.5rem;
}

.container #left-resume .title h3{
    text-transform: uppercase;
    color: #fff;
    border-bottom: .15rem solid #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.container #left-resume .contact .content {
    margin: 1.5rem 1rem 0 0;
    display: inline-flex;
}

.contact .content .icon {
    width: 2.5rem;
}

#left-resume .contact .content i {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 1rem;
}

#left-resume .contact .content p {
    color: #fff;
    font-weight: 600;
    font-size: .8rem;
}

#left-resume .contact .content h6 {
    color: #fff;
    font-weight: 600;
    font-size: .6rem;
}

#left-resume .skills .skill {
    margin: 1rem 1rem 0 0;
    display: block;
}

.skills .skill p {
    color: #fff;
    font-size: 1rem;
}

.skill .mature {
    border: .2rem solid #fff;
}

.skill .mature .complete {
    border: .15rem solid #fff;
}

.mr50 {
    margin-right: 50%;
}

.mr45 {
    margin-right: 45%;
}
.mr60 {
    margin-right: 40%;
}

.mr25 {
    margin-right: 25%;
}

#left-resume .follow-me {
    padding-bottom: 2.5rem;
}

#left-resume .follow-me .content {
    margin: 1rem 1rem 0 0;
    display: block;
}

.follow-me .content p {
    color: #fff;
    font-size: 1rem;
}

.follow-me .content h6 {
    color: #fff;
    font-size: .7rem;
    margin: .3rem 1rem 0 0;
}

.container #right-resume {
    position: relative;
    background-color: #fff;
    padding: 1.5rem 2.5rem 0 2.5rem;
    margin: 0;
}

.container #right-resume h1, h2 {
    text-transform: uppercase;
}

.container #right-resume h1 {
    font-size: 2.2rem;
}

.container #right-resume h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#right-resume .content {
    margin-bottom: 2rem;
}

#right-resume .content .title {
    display: block;
    border-bottom: .1rem solid #000;
    padding-bottom: .3rem;
}

#right-resume .title i {
    width: 2.4rem;
    color: #fff;
    padding: .5rem;
    border-radius: 50%;
    background-color: #000;
    margin-right: 1rem;
}

#right-resume .title h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4rem;
}

.content .body-content td:first-child {
    width: 30%;
    color: #000;
    text-transform: capitalize;
    font-size: .9rem;
}

.content .body-content td {
    color: #616161;
    font-size: .8rem;
}

.content .body-content td h5 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size:1.2rem;
}

.content .infos {
    position: relative;
    margin: .5rem;
    display: flex;
}

.content .infos .info {
    margin-right: 3rem;
    font-size: .8rem;
}

.content .infos .info h5 {
    font-size: 1.2rem; 
}

@media only screen and (max-width: 46.1875em) {
    .container {
        position: relative;
        display: block;
    }

    #left-resume {
        position: absolute;
        padding-top: 1rem;
    }

    #left-resume img {
        display: block;
        border-radius: 50%;
        margin: 2rem;
    }

    #left-resume .title {
        width: 60%;
        margin: 0 auto;
    }
}